# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Specific files
Log.txt

# Executables
*.exe
*.out
*.app

# Folders
out/
build/
build_2/
.vscode/
.cache/clangd/index
.github/workflows

# sublime files
*.sublime-project
*.sublime-workspace

# eclipse files
*.cproject
*.project

# netbeans files
nbproject/

# Opening books
*.bin
